.duck-container {
    background-color: #222;
}

.duck-list {
    text-align: center;
    color: #eee;
    list-style: none;
}

.duck-count {
    font-weight: bold;
    font-size: 3em;
}

.duck-card {
    display: inline-block;
}

.duck-upgrade-btn {
    background-color: #222;
    color: #eee;
    border: 1px solid #eee;
    width: 300%;
}

.cost-too-high {
    background-color: red;
}
